<div class="flex flex-col h-dvh  justify-center">
  <div class="flex flex-col bg-siva sm:w-dvh md:mx-auto rounded-2 text-xl m-2 border-krstic border-2">
    <p class="text-white bg-krstic text-center mb-4 p-2">Sign In</p>
    <input type="text" class="mb-4 px-2 mx-4 border-krstic border-2 text-siva" placeholder="Username" [(ngModel)]="username">
    <input type="text" class="mb-4 px-2 mx-4 border-krstic border-2 text-siva" placeholder="Password" [(ngModel)]="password">
    <button (click)="login()" class="bg-estiem w-full text-white p-2 border-krstic border-t-2">Login</button>
    <p *ngIf="errMsg.length" class="border-t-2 border-krstic bg-opasno text-center text-white p-2">{{errMsg}}</p>
  </div>
</div>

