<div *ngIf="user">
  <div class="bg-estiem pr-0 flex justify-between border-krstic border-2">
    <div class="flex justify-evenly">
      <img src="assets/estiem_logo.png" class="h-fit p-4">
      <div class="flex flex-col justify-center p-4 text-white">
        <h1 class="text-md md:text-2xl h-fit align-middle text-white bold uppercase italic">{{username}}</h1>
      </div>
    </div>
    <button (click)="logout()" class="btnLogout bg-opasno text-white px-4 pl-4 p-4 border-l-2 border-krstic">Logout</button>
  </div>
  <app-leaderboard></app-leaderboard>
  <app-locations></app-locations>
</div>

<div *ngIf="!user">
  <h1>Oops. Looks like you aren't signed in.</h1>
  <button (click)="redirectToLogin()">Sign In</button>
</div>
