<div class="mt-2" [style]="loading ? 'pointerEvents: none' : 'pointerEvents: all' ">
  <div *ngFor="let loc of locations" [id]=loc.index class="flex flex-col my-4 border-2 border-krstic bg-siva">
    <div class="flex justify-between bg-krstic text-white border-b-2 border-krstic">
      <h1 class="p-2 text-xl">{{loc.name}}</h1>
      <div [class]="loc.points > 20 ? 'bg-opasno' : 'bg-estiem'" class="flex flex-col justify-center px-2">
        <h3>{{loc.points}}pts</h3>
      </div>
    </div>
    <p class="p-2">{{loc.challenge}}</p>
    <div class="flex justify-between text-center">
      <a [href]=loc.link class="p-2 basis-1/2">Link to Map</a>
      <button (click)="claim(loc.index)" class="p-2 bg-estiem text-white basis-1/2">Claim</button>
    </div>
    <div *ngIf="loc.extra.length" class="flex flex-col">
      <div></div>
      <p>{{loc.extra}}</p>
    </div>
  </div>
</div>
