/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover{
  background-color: #287454;
}

a:hover {
  background-color: #287454;
}
